git+https://github.com/jupyterhub/the-littlest-jupyterhub@2.0.0
git+https://github.com/jupyterhub/binderhub.git@main
jupyterhub>=5,<6
alembic>=1.14,<1.15
pytest
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest-jupyterhub
requests-mock
