{% extends "page.html" %} {% block main %}
<div id="servers-root" class="tljh-container">
  <script id="tljh-page-data" type="application/json">
    {
      "images": {{ images | tojson  }}, "allow_named_servers": {{allow_named_servers | tojson}}, "named_server_limit_per_user": {{named_server_limit_per_user}}, "server_data":  {{ server_data| tojson }}, "default_server_data":  {{ default_server_data| tojson }}
    }
  </script>
  <script src="{{ service_prefix }}service_static/js/servers.js"></script>
</div>
{% endblock %}